:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --link-color: #0000ee;
  --navbar-color: #494cff;
  --card-bg: #ffffff;
  --light-grey: rgb(193, 193, 193) 0;
  --dd-color: black;
  --dd-bg-color: white;
  --table-bg: #ffffff;
  --pg-bar-empty: #f3f3f3;
  --pg-bar-filled: #494cff;
  --switch-bg: rgb(144, 216, 234);
  --switch-circle-bg: rgb(255, 186, 38);
}
body {
  font-family: Arial, sans-serif;
  background-color: var(--bg-color);
  transition: background-color 0.4s;
}
.profile-image {
  width: 25%;
  aspect-ratio: 1;
  box-shadow: 0 0 100px 5px rgba(255, 255, 255, 0.2);
  border-radius: 50%;
  object-fit: cover;
  display: block;
}
.about-container {
  display: flex;
  justify-content: center;
  width: 100%;
  align-items: end;
  margin-top: 150px;
  gap: 50px;
}
.title-text {
  display: flex;
  flex-direction: column;
  margin: auto 0;
  justify-content: center;
  max-width: min-content;
  color: var(--text-color);
}
@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 100% 50%;
  }
}
.name {
  font: 700 3.5em "Roboto", sans-serif;
  min-width: fit-content;
  white-space: nowrap;
  /* margin-bottom: ; */
  background: linear-gradient(90deg, #782087, #00027d);
  background-size: 200% 200%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: gradientAnimation 1s infinite alternate ease-in-out;
}
.summary-heading {
  font: 700 1.2em "Roboto", sans-serif;
  margin-bottom: 10px;
}
.summary {
  font-size: 12px;
  text-align: justify;
}
.big-box {
  height: 100vh;
}
.section-heading {
  font: 800 1.7em "Roboto", sans-serif;
  margin-bottom: 10px;
  margin-top: 60px;
  margin-left: 30px;
  color: var(--text-color);
  text-transform: uppercase;
  padding-bottom: 10px;
  border-bottom: 3px solid var(--text-color);
  width: fit-content;
}
#repos {
  display: flex;
  align-items: start;
  justify-content: space-around;
  gap: 20px;
  flex-wrap: wrap;
  margin-top: 20px;
  width: 100%;
  height: 320px;
  overflow-y: hidden;
}
.show_more {
  background-color: #00000000;
  border: none;
  color: var(--text-color);
  outline: none;
  cursor: pointer;
  margin: 20px 50px;
  opacity: 0.6;
  font-size: 12px;
  transition: opacity 0.2s ease;
}
.show_more:hover {
  opacity: 1;
}
.education-table {
  margin: 0 auto;
}
.education-table td,
th {
  border: 1px solid var(--text-color) !important;
  color: var(--text-color) !important;
  background-color: var(--table-bg) !important;
}
.education-table th {
  font-weight: 900 !important;
  color: white !important;
  background-color: var(--navbar-color) !important;
}
.social-links {
  display: flex;
  align-items: center;
  margin: 10px 0;
  margin-top: 5px;
  gap: 30px;
}
.social-links img {
  width: 30px;
  height: 30px;
  cursor: pointer;
  filter: grayscale(100%);
  transition: filter 0.3s ease;
}
.social-links img:hover {
  filter: grayscale(0%);
}
.card-body {
  background-color: var(--card-bg) !important;
  color: var(--text-color) !important;
  box-shadow: 0 0px 18px rgba(0, 0, 0, 0.425);
  border-radius: 5px !important;
  user-select: none;
}
.tech-stack {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.tech-stack img {
  width: 25px;
  height: 25px;
  cursor: pointer;
}

.tech-stack img:hover {
  animation: rotate 1s infinite linear;
}
.container {
  position: relative;
  max-width: 500px;
  width: 100%;
  margin: 0 15px;
  padding: 10px 20px;
  border-radius: 7px;
}

.container .skill-box {
  width: 100%;
  margin: 25px 0;
}

.skill-box .title {
  display: block;
  font-size: 14px;
  font-weight: 600;
  color: var(--text-color);
}

.skill-box .skill-bar {
  height: 8px;
  width: 100%;
  border-radius: 6px;
  margin-top: 6px;
  background: var(--pg-bar-empty);
}

.skill-bar .skill-per {
  position: relative;
  display: block;
  height: 100%;
  width: 90%;
  border-radius: 6px;
  background: var(--pg-bar-filled);
  animation: progress 0.4s ease-in-out forwards;
  opacity: 0;
}

.skill-per.react {
  width: 80%;
  animation-delay: 0.1s;
}
.skill-per.react-native {
  width: 60%;
  animation-delay: 0.1s;
}

.skill-per.django {
  width: 90%;
  animation-delay: 0.1s;
}
.skill-per.flask {
  width: 70%;
  animation-delay: 0.1s;
}

.skill-per.javascript {
  width: 50%;
  animation-delay: 0.2s;
}

.skill-per.nodejs {
  width: 80%;
  animation-delay: 0.3s;
}

@keyframes progress {
  0% {
    width: 0;
    opacity: 1;
  }

  100% {
    opacity: 1;
  }
}

.skill-per .tooltip {
  position: absolute;
  right: -14px;
  top: -28px;
  font-size: 9px;
  font-weight: 500;
  color: #fff;
  padding: 2px 6px;
  border-radius: 3px;
  background: #4070f4;
  z-index: 1;
}

.tooltip::before {
  content: "";
  position: absolute;
  left: 50%;
  bottom: -2px;
  height: 10px;
  width: 10px;
  z-index: -1;
  background-color: #4070f4;
  transform: translateX(-50%) rotate(45deg);
}
.navdd {
  display: none;
}
@media (max-width: 660px) {
  .name {
    white-space: wrap;
  }
}
@media (max-width: 930px) {
  .about-container {
    flex-direction: column;
    align-items: center;
    margin-top: 100px;
    gap: 30px;
  }

  .profile-image {
    width: 20%;
  }

  .title-text {
    text-align: center;
  }

  .section-heading {
    margin-left: 0;
    text-align: center;
  }

  .social-links {
    justify-content: center;
  }

  .container {
    max-width: 100%;
    margin: 0 10px;
  }
  .navlinks {
    display: none !important;
  }
  .navdd {
    display: block !important;
  }
}
